body{
    background-color: black;
}

p {
    color: rebeccapurple;
}

h1{
    color: rebeccapurple;
}

.Game_layer{
    background-color: white;
}
.gameCanvasStyle{
    border:1px solid #000000;
    background-image: url("grass.png");
}